*,
*::before,
*::after {
    box-sizing: border-box; /* Ensure padding and border are included in total width and height */
}
body, html{
    overflow-x: hidden;
}

/* Reset some default browser styles */
body, h1, h2, p, ul {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

/* General Styles */
body {
    font-family: 'Manrope', sans-serif; /* English font */
    background-color: white; /* Light background color */
    color: #233F2E; /* Dark text color */
}


/* Arabic Font Styles */
.arabic h1 {
    font-family: 'Alexandria', serif; /* Use the Alexandria font */
    font-size: 2.46vw; /* Equivalent to approximately 32px */
    line-height: calc(2.46vw * 1.6); /* 1.6 times the font size for line height */
    font-weight: 600; /* Semibold */
    direction: ltr; /* Set text direction to right-to-left */
   text-align: left;
}

.arabic h2 {
    font-family: 'Alexandria', serif; /* Use the Alexandria font */
    font-size: 1.85vw; /* Equivalent to approximately 24px */
    line-height: calc(1.85vw * 1.6); /* Responsive line height */
    font-weight: 600; /* Semibold */
    text-align: left;
    direction: ltr; /* Set text direction to right-to-left */
}

.arabic h3 {
    font-family: 'Alexandria', serif; /* Use the Alexandria font */
    font-size: 1.54vw; /* Equivalent to approximately 20px */
    line-height: calc(1.54vw * 1.6); /* Responsive line height */
    font-weight: 600; /* Semibold */
    text-align: left;
    direction: ltr; /* Set text direction to right-to-left */
}

.arabic h4 {
    font-family: 'Alexandria', serif; /* Use the Alexandria font */
    font-size: 1.39vw; /* Equivalent to approximately 18px */
    line-height: calc(1.39vw * 1.6); /* Responsive line height */
    font-weight: 600; /* Semibold */
    text-align: left;
    direction: ltr; /* Set text direction to right-to-left */
}


.arabic p {
    font-family: 'Alexandria', serif; /* Use the Alexandria font */
    font-size: 1.23vw; /* Equivalent to approximately 16px */
    line-height: calc(1.23vw * 1.6); /* Responsive line height */
    font-weight: 300; /* Light */
  
    direction: ltr; /* Set text direction to right-to-left */
}



@media (max-width: 768px) {
    .arabic h1 {
        font-size: 24px; /* Fixed size */
        line-height: 36px; /* Fixed line height for readability */
    }

    .arabic h2 {
        font-size: 20px; /* Fixed size */
        line-height: 30px; /* Fixed line height for readability */
    }

    .arabic h3 {

        font-size: 18px; /* Fixed size */
        line-height: 28px; /* Fixed line height for readability */
    }

    .arabic h4{

        font-size: 16px; /* Fixed size */
        line-height: 24px; /* Fixed line height for readability */
    }

    .arabic p {
        font-size: 15px; /* Fixed size */
        line-height: 24px; /* Fixed line height for readability */
    }
}

/*nav bar*/
 

.nav { 
    width: 89%;
    left: 50%; /* Move the navbar 50% from the left */
    height: 58px;
    transform: translateX(-50%); /* Shift it back by half its width */
    background-color: white;
    box-shadow: 0px 2px 14.3px rgba(85, 138, 106, 0.08);
    border-radius: 8px;
    position: fixed;
    top: 2%; 
    display: flex;
    align-items: center;
    justify-content: center; /* Align items to center */
    direction: ltr; /* Set text direction to right-to-left */
    z-index: 4;
    padding: 0rem 1rem;
}

  .nav > .nav-header {
    flex: 0.94;
    flex-direction: row;
    padding-left: 1rem;
  }
  .nav > .nav-header > .nav-title {
    font-size: 22px;
    color: #55CE5B;
  }
  .nav > .nav-list {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    
  }
  .nav > .nav-list > li {
    list-style-type: none;
    align-items: center;
  }
  .nav > .nav-list > li a {
    font-family: 'Alexandria', serif; 
    text-decoration: none;
    color: #233F2E;
    cursor: pointer;
    font-size: 14px;
  }
  .nav > #nav-check {
      display: none;
  }
 


/* First section */
.first-section-container {
    display: flex;
    flex-direction: column;
    gap:12%;
    padding: 0rem 8rem;
    height: 120vh;
    margin: 0 auto;
    width: 100%;
    background-image: url('assets/images/dots2.png'); /* Add background image here */
    background-size: cover; /* Ensure it covers the whole container */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent repeating */
    position: relative;
    z-index: 0; /* Ensure it's behind other content */
}

.main-section {
    display: flex;
    flex-direction: row;
    gap: 32px;
    margin-top: 16%;

text-align: left;
}

.image-container {
    width: 45%;
}

.image-container img {
    width: 100%;
    height: auto;
}

.text-content {
    width: 65%;
}

.text-content h1 {
    margin-bottom: 3vh;
}

.text-content p {
    margin-bottom: 8vh;
}

.buttons {
    width: 100%;
}

.logos{
    display: flex;
    flex-direction: row;
    padding: 1% 0%;
    gap:4%;
    justify-content: center;
    border: 1px solid white;
    border-radius: 4px;
    background-color:white;
    box-shadow: inset 0px 0px 16.5px rgba(207, 207, 207, 0.16);
    height: auto;
}

/* Responsive Margins */
@media (max-width: 1024px) {
    .first-section-container {
        padding: 0rem 2rem;
        gap:11%;
     
    }

    .main-section {
        margin-top: 30%;
    }
    .logos{
      flex-wrap: wrap;
    }
}

@media (max-width: 768px) {



    .first-section-container{  
         height: 180vh;}

    .main-section {
        flex-direction: column-reverse;
        text-align: center;
    }

    .image-container {
        width: 100%;
    }

    .text-content {
        width: 100%;
    }

    
}



/* second section */
.stats-section-container{
    display: flex;
    flex-direction: column;
    background-color: #F9FEF1;
    padding: 5rem 8rem;
    position: relative;
    background-image: url('assets/images/10yrseng.png'); /* Add background image here */
    background-size: cover; /* Ensure it covers the whole container */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent repeating */
    position: relative;
    z-index: 0; /* Ensure it's behind other content */
    
}
.second-header-container{
    display: flex;
    flex-direction: row;
    direction: ltr;
    gap:16px;
    margin-bottom: 8vh;
   
}
.stats-container{
    display: flex;
    flex-direction: row;
    direction: ltr;
    gap:4px;
}

.stats-item{
   width: 25%;
    border-left:solid 1px #55CE5B;
    padding: 8px;
}

.stats-item p{
font-size: 14px;
 }

.stats-bg{
    position: absolute;
    width: auto;    
    height: auto;   
    top: -20%;
    left:1%;
    object-fit: cover; 
    z-index: 0; 
}

@media (max-width: 1024px) {
    .stats-section-container {
        padding: 3rem 2rem;
    }

    .stats-container {
        flex-wrap: wrap; /* Allow the items to wrap */
        gap: 8px; /* Adjust gap for better spacing */
    }

    .stats-item {
        width: 48%; /* Make two stats fit per row */
    }
}




/*testimonal*/
.testimonial-section {
    display: flex;
   flex-direction: row-reverse;
    background-color: white;
    padding: 4rem 8rem;
    gap: 32px;

    position: relative;
    background-image: url('assets/images/two-commaeng.png'); /* Add background image here */
    background-size: cover; /* Ensure it covers the whole container */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent repeating */
    position: relative;
    z-index: 0; /* Ensure it's behind other content */
}

.text-container {
    max-width: 65%;
    position: relative; /* Needed for absolute positioning inside */
    z-index: 2; /* Makes sure the text is above the comma */
}

.comma {
    position: absolute;
    z-index: 0; /* Behind the text */
    top: -20px; /* Adjust the positioning as needed */
    right: -40px; /* Play with the positioning to place it perfectly */
    width: 80px; /* Adjust size of the comma */
    opacity: 0.1; /* Optional: to make it less dominant */
}

.testimonial-text {
    font-weight: bold;
    font-size: 22px;
    position: relative;
    z-index: 2; /* Ensure text stays on top */
}

.author-name {
    color: #55CE5B;
    margin-top: 4vh;
    position: relative;
    z-index: 2;
    text-align: right;
}

.author-title {
    text-align: right;
    position: relative;
    z-index: 2;
}

.image-container {
    max-width: 35%;
}

.image-container img {
    width: 100%;
    border-radius: 10px;
}


@media (max-width: 768px) {
    .testimonial-section {
        padding: 3rem 2rem;
        flex-direction: column-reverse;
        text-align: center;
    }

    .text-container {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .image-container {
        max-width: 100%;
    }
}



/*project section*/
.latest-projects-container{
    background-color: #F9FEF1;
    padding: 2rem 8rem;
}

.latest-projects-title{
    padding-bottom: 2rem;
    display: flex;
    flex-direction: row;
  
    border-bottom: solid 1px #D8E8C0 ;
}

.latest-projects {
    padding-top: 2rem;
    display: flex;
    flex-direction: row-reverse;
    gap: 32px;
    background-color: #F9FEF1;
    position: relative; /* Ensure the parent container is positioned */
  }
  .main-project-info{
    display: flex;
    flex-direction: column;
   gap:4px;
   padding: 1rem 1rem;
  }
  
  .projects-container {
    width: 45%;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 8px;
    overflow-y: auto; /* Ensure scrolling can happen inside this container */
    
  }
  
  .project-list {
    display: flex;
    flex-direction: column;
  }

  

  .project-item {
    display: flex;
    cursor: pointer;
  gap:2%;
  padding: 1rem 1rem;
    background-color: #fff;
    border-bottom: 1px solid #D8E8C0;
  
    align-items: center;
    border-radius: 8px 8px 0px 0px;
  }


  .project-item:hover {
    background-color: #EFF6E2;
    
  }
 
  
  .project-image-container {
    width: 35%; 
    height: 105px; /* Set a fixed height or use percentage for responsive design */
    border-radius: 8px;
    overflow: hidden; /* Hide overflow to avoid image spill */
    display: flex; /* Ensures proper alignment */
    justify-content: center; /* Centers image horizontally */
    align-items: center; /* Centers image vertically */
    
}

.project-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures image fills the container without stretching */
}

.project-title-list{
    font-size: 14px;
    font-weight: bold;
    color: #0f362e;
}


  
  .project-details {
    position: sticky;
    top: 20px;
    flex-basis: 65%;
    background-color: #fff;
    border-radius: 8px;
    z-index: 1; /* Make sure the details stay above other content */
    height: fit-content; /* Adjust height if necessary */
  }

  
  .project-details img {
    width: 100%;
    border-radius: 8px;
  }
  
  iframe {
    width: 100%;
    height: 315px;
    border: 1px solid transparent;
    border-radius: 8px 8px 0px 0px;
  }
  
  @media (max-width: 1024px) {
    .latest-projects {
        display: flex;
        flex-direction: column-reverse;
      }


    .latest-projects-title{
        padding: 3rem 2rem;
      
    }
    .latest-projects-container{
        background-color: #F9FEF1;
        padding: 2rem 0rem;
    }
    .latest-projects {
        
        padding: 1rem 2rem;
        
      }
      .projects-container {
        width: 100%;
        background-color: #fff;
        border: 1px solid #fff;
        border-radius: 8px;
      }
  }

  @media (max-width: 768px) {


    .latest-projects-container{
      
        padding: 2rem 2rem;
    }

    .latest-projects-title{
        padding: 3rem 2rem;
      
    }
} 

/* services */


.services-section {
    padding: 4rem 8rem;
    background-color: #0f362e;
    text-align: center;
    color: white;
    background-image: url('assets/images/serv-bg.png'); /* Add background image here */
    background-size: cover; /* Ensure it covers the whole container */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent repeating */
    position: relative;
    z-index: 0; /* Ensure it's behind other content */
}

.services-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.services-heading img {
    width: 50px;
    margin-bottom: 1.8rem;
}

.services-heading h2 {
  margin-bottom: 2rem;
}

.services-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}


.service-card {
    background-color: #F9FEF1;
    padding: 1.5rem;
    border-radius: 10px;
    color: #0f362e;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}



.service-card span {
    font-size: 1rem;
    color: rgba(15, 54, 46, 0.7);
}

/* Responsive Design */
@media (max-width: 1024px) {
    .services-section{
        padding: 3rem 2rem;
    }
    .services-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .services-heading h2 {
        font-size: 1.8rem;
    }
}

@media (max-width: 768px) {
    .services-cards {
        grid-template-columns: 1fr;
    }

    .services-heading h2 {
        font-size: 1.5rem;
    }

    .service-card {
        padding: 1rem;
    }

    .service-card p {
        font-size: 1rem;
    }

    .service-card span {
        font-size: 0.9rem;
    }
} 


/*engineering journy*/

.journey-section {
    padding: 5rem 8rem;
    background-color: white;
 text-align: right;
 background-image: url('assets/images/JRN.png'); /* Add background image here */
    background-size: cover; /* Ensure it covers the whole container */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent repeating */
    position: relative;
    z-index: 0; /* Ensure it's behind other content */
}



.journey-header {

  
    margin-bottom: 3rem;
    direction: ltr;
    text-align: left;
    
}

.journey-header h2 {
   margin-bottom: 1rem;

}


.journey-content {
    display: flex;
    flex-direction: row;
 text-align: left;
    gap: 32px;
}

.journey-img {
    width: 25%; /* Match the width of the cards */
    border-radius: 10px;
  
}
.journey-img img{
    width: 100%; /* Ensure the image takes the full width of the container */
    height: 100%; /* Allow the image to scale up or down */
    object-fit: cover; /* Keep the image's aspect ratio and cover the container without stretching */
    border-radius: 8px;

}


.journey-card {
    width: 25%; /* Set the same width for consistency */
    background-color: #F9FEF1;
    padding: 1rem;
    border: 2px solid #DBFFD4;
    border-radius: 10px;
    text-align: right;
}

.journey-card p {
    font-size: 1rem;
    color: #0f362e;
}

/* Button */


.journey-section a{
    
    margin-top: 2rem;
width: 25%;
}


/* Responsive Design */
@media (max-width: 1024px) {

    .journey-content {
        flex-direction: column;
        align-items: center;
    }

    .journey-cards {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .journey-section {
        padding: 3rem 2rem;
    }
    
    .journey-card {
        width: 100%;
           
        }
        .journey-section a{
    
            margin-top: 2rem;
        width: 100%;
        }

        .journey-card, .journey-img {
            width: 100%; /* Stack the items and make them full width on smaller screens */
        }
  
}




/* Button styles */
.btn {
    display: block;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    padding: 0 24px;
    border-radius: 4px;
    text-decoration: none;
    font-family: 'Alexandria', serif; /* Use the Alexandria font */
    transition: background-color 0.1s, color 0.1s;
}

.primary-btn {
    background-color: #55CE5B;
    color: white;
    height: 40px;
    line-height: 40px;
    border: none;
}

.primary-btn:hover {
    background-color: #48b34d;
}

.secondary-btn {
    background-color: transparent;
    color: #55CE5B;
    border: 2px solid #55CE5B;
    height: 40px;
    line-height: 40px;
}

.secondary-btn:hover {
    background-color: #55CE5B;
    color: white;
}

/* Small buttons */


.small-btn{
    background-color: #55CE5B;
    color: white;
    height: 32px;
    border: none;
    align-items: center;
    padding-top: 5px;
   
 
}


.small-btn:hover {
    background-color: #48b34d;
}
/* Responsive design for mobile */
@media (max-width: 768px) {


}


/*email*/
.contact-section {
    padding: 5rem 8rem;
    background-color: #F9FEF1;
    align-items: center;
    text-align: center;
}



.contact-header h2 {
  
    margin: 2rem 0rem;
}

.contact-header p {

    margin: 2rem 0rem;
}

.contact-form {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    width: 50%;
    margin: 0 auto;
    direction: rtl;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
}



@media (max-width: 768px) {
    .contact-form {
        width: 100%;
    }
    .contact-section {
        padding: 2rem 2rem;
        background-color: #F9FEF1;
        align-items: center;
        text-align: center;
    }
}


/*footer*/
.footer-wrapper {
    background-color: #F9FEF1; /* Matches the dark green color */
    padding: 1rem 8rem;
    color: #fff;
}
.footer-box{
    background-color: #233F2E; /* Matches the dark green color */
    padding: 2rem 2rem;
    border-radius: 8px;
    background-image: url('assets/images/foo.png'); /* Add background image here */
    background-size: cover; /* Ensure it covers the whole container */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent repeating */
    position: relative;
    z-index: 0; /* Ensure it's behind other content */
}


   
    .footer-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-end; /* Aligns the content to the bottom */
    height: 100%; /* Ensure it takes the full height */
}
  



.footer-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* This ensures the content is at the bottom */
    align-self: flex-end; /* Align the whole section to the bottom of the flexbox */
   
}


.footer-left p {
    font-size: 14px;
    margin: 0; /* Ensure there's no extra margin pushing the content */
}


.footer-left img {
    max-height: 60px; /* Adjust logo height */
    margin-right: 20px;
}



.footer-left p {
    font-size: 14px;
}

.footer-right {
    text-align: right;
}

.footer-right p {
    margin: 5px 0;
}

.contact-flex{
    display: flex;
    flex-direction: row;
}
.contact-info{
  direction: ltr;
}
.contact-info p {
    font-size: 14px;
    margin: 5px 0;
}

.social-icons {
    display: flex;
    gap: 10px;
    align-items: center; /* Vertically center the container in its parent */
    justify-content: center; /* Horizontally center the container in its parent */
    margin-left: 20px;
}

.social-icons a {
    padding: 16px;
    height: 32px;
    width: 32px;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    align-items: center; /* Center the icon vertically */
    justify-content: center; /* Center the icon horizontally */
    border: 1px solid white; /* Add 1px white border */
    border-radius: 4px; /* Add 4px border radius */
}

.social-icons a:hover {
    color: #90ee90; /* Light green hover effect */
    border-color: #90ee90; /* Change border color on hover */
}


@media (max-width: 768px) {


    .footer-wrapper {
      
        padding: 1rem 2rem;
      
    }

    .footer-box{
        
        padding: 2rem 1rem;
       
    }

    
} 
